{% extends "layout.html" %}

<body>
    {% block content %}

    <div>

        <div class="container">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <legend>Account Information</legend>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{ form.username.label() }}</label>
                    {{ form.username(class="form-control", id="exampleInputEmail1")}}

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{ form.email.label() }}</label>
                        {{ form.email(class="form-control", id="exampleInputPassword1") }}
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{ form.phone.label() }}</label>
                        {{ form.phone(class="form-control", id="exampleInputPasswor21") }}
                    </div>
                    <div>{{form.submit(class="btn btn-primary") }}</div>
            </form>

        </div>
    </div>

    {% endblock %}
</body>

</html>