<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>This is the blog page</h1>
    {% for n in posts.items %}
    <div style="background-color: burlywood;">
        <h3>{{n.title}}</h3>
        <p>{{n.content}}</p>
    </div>
    {% endfor %}


    {% for pagenum in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

    {% if pagenum %}
    <a href="{{url_for('home', page=pagenum)}}">{{pagenum}}</a>
    {% else %}
    ...
    {% endif %}
    {% endfor %}


</body>

</html>