{% extends "layout.html" %}

<body>
    {% block content %}

    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{ form.title.label() }}</label>
                {{ form.title(class="form-control", id="exampleFormControlInput1") }}

            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">{{ form.content.label() }}</label>
                {{ form.content(class="form-control", id="exampleFormControlTextarea1") }}
            </div>

            <div>{{form.submit(class="btn btn-primary")}}</div>
        </form>
    </div>

    {% endblock %}
</body>

</html>