{% extends "layout.html" %}

<body>
    {% block content %}
    <br>
    <div class="container">
        <form method="POST" action="" style="background-color: rgb(179, 179, 226); padding: 12px;">
            {{ form.csrf_token }}
            <br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{ form.title.label() }}</label>
                {{ form.title(class="form-control", id="exampleFormControlInput1") }}

            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">{{ form.content.label() }}</label>
                {{ form.content(class="form-control", id="exampleFormControlTextarea1", style="height:300px;") }}
            </div>

            <div style="display: flex; justify-content: center;"> {{form.submit(class="btn btn-primary",
                style="background-color: white; border: azure; color:black;")}}</div>
        </form>
        <br>
        

    </div>
    <br>
    {% endblock %}
</body>

</html>