{% extends "layout.html" %}

<body>
    {% block content %}
    <nav>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Account</a>
        {% endif %}
    </nav>
   
    {% for n in posts.items %}
    <div style="background-color: burlywood;">
        <a href="{{ url_for('post', post_id=n.id) }}">
            <h3>{{n.title}}</h3>
        </a>
        <p>{{n.content}}</p>
    </div>
    {% endfor %}

    {% for pagenum in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

    {% if pagenum %}
    <a href="{{url_for('user_post', page=pagenum, username=post.author.username)}}">{{pagenum}}</a>
    {% else %}
    ...
    {% endif %}
    {% endfor %}

{% endblock %}
</body>

</html>